<div class="personalize-div">
    <h2>Adicione ingredientes</h2>

    <div class="ingredientes">
        <div class="ingrediente-card">
            <img src="./assets/parmesan-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Parmesão')}" (click)="addIngredient('Parmesão',5.90)">+</button>
                <button id="minus-button" (click)="removeIngredient('Parmesão')">-</button>
            </div>
            <h3>Parmesão</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/blue-cheese-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Gorgonzola')}" (click)="addIngredient('Gorgonzola',5.90)">+</button>
                <button id="minus-button" (click)="removeIngredient('Gorgonzola')">-</button>
            </div>
            <h3>Gorgonzola</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/cheddar-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Cheddar')}" (click)="addIngredient('Cheddar',5.90)">+</button>
                <button id="minus-button" (click)="removeIngredient('Cheddar')">-</button>
            </div>
            <h3>Cheddar</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/mozzarella-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Mussarela')}" (click)="addIngredient('Mussarela',5.90)">+</button>
                <button id="minus-button" (click)="removeIngredient('Mussarela')">-</button>
            </div>
            <h3>Mussarela</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/tomato-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Tomate')}" (click)="addIngredient('Tomate',3.00)">+</button>
                <button id="minus-button" (click)="removeIngredient('Tomate')">-</button>
            </div>
            <h3>Tomate</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/tomato-sauce-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Molho de Tomate')}" (click)="addIngredient('Molho de Tomate',3.00)">+</button>
                <button id="minus-button" (click)="removeIngredient('Molho de Tomate')">-</button>
            </div>
            <h3>Molho de Tomate</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/lettuce-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Alface')}" (click)="addIngredient('Alface',3.00)">+</button>
                <button id="minus-button" (click)="removeIngredient('Alface')">-</button>
            </div>
            <h3>Alface</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/onion-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Cebola')}" (click)="addIngredient('Cebola',3.00)">+</button>
                <button id="minus-button" (click)="removeIngredient('Cebola')">-</button>
            </div>
            <h3>Cebola</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/pepperoni-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" [ngClass]="{'added': isIngredientAdded('Pepperoni')}" (click)="addIngredient('Pepperoni',5.90)">+</button>
                <button id="minus-button" (click)="removeIngredient('Pepperoni')">-</button>
            </div>
            <h3>Pepperoni</h3>
        </div>
    </div>

    <button id="concluir-button" (click)="concluirPizza()">Concluir pizza</button>
</div>