<div class="personalize-div">
    <h2>Adicione ingredientes</h2>

    <div class="ingredientes">
        <div class="ingrediente-card">
            <img src="./assets/parmesan-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Parmesão</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/blue-cheese-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Gorgonzola</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/cheddar-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Cheddar</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/mozzarella-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Mussarela</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/tomato-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Tomate</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/tomato-sauce-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Molho de Tomate</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/lettuce-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Alface</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/onion-icon.png"/>
            <p>R$3,00</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Cebola</h3>
        </div>
        <div class="ingrediente-card">
            <img src="./assets/pepperoni-icon.png"/>
            <p>R$5,90</p>
            <div class="buttons">
                <button id="add-button" (click)="addIngredient()">+</button>
                <button id="minus-button" (click)="removeIngredient()">-</button>
            </div>
            <h3>Pepperoni</h3>
        </div>
    </div>

    <button id="concluir-button" (click)="addPizza()">Concluir pizza</button>
</div>