<div class="size-div">
    <div class="tamanhos">
        <h3>Brotinho</h3>
        <img src="./assets/pizza-size-icon.png" id="brotinho"/>
        <div class="tamanho-select">
            <p>+ R$5,00</p>
            <input type="radio" name="tamanho-pizza" value="Brotinho">
        </div>
    </div>
    <div class="tamanhos">
        <h3>Média</h3>
        <img src="./assets/pizza-size-icon.png" id="média"/>
        <div class="tamanho-select">
            <p>+ R$10,00</p>
            <input type="radio" name="tamanho-pizza" value="Média">
        </div>
    </div>
    <div class="tamanhos">
        <h3>Grande</h3>
        <img src="./assets/pizza-size-icon.png" id="grande"/>
        <div class="tamanho-select">
            <p>+ R$15,00</p>
            <input type="radio" name="tamanho-pizza" value="Grande">
        </div>
        
    </div>
</div>
