<div class="ordem-div">
    <div class="ordem-pedido">
        <h2>Endereço</h2>
        <hr>
        <input type="text" [(ngModel)]="novoEndereco">
        <h2>Pizzas</h2>
        <hr>
        <div class="pizza-div" *ngFor="let pizza of pedido.pizzas; let i = index">
            <div class="pizza-card">
                <button id="deletar-button" (click)="deletarPizza(i)">-</button>
                <p id="pizza-index">{{i+1}}</p>
                <p id="pizza-sabor">{{pizza.sabor}} {{pizza.tamanho}}</p>
                <div id="pizza-ingredientes" *ngIf="pizza.adicionais.length > 0">
                    <p id="ingrediente" *ngFor="let ingrediente of pizza.adicionais">+ {{ingrediente}}</p>
                </div>
            </div>
            <p id="pizza-preço">{{pizza.preco | currency:'BRL'}}</p>
        </div>
        <button *ngIf="pedido.pizzas.length > 0" id="final-button" (click)="finalizarPedido()">Finalizar pedido</button>
    </div>
</div>
